.dest-container{
 display: flex;
 justify-content: space-around;
 margin-top: 50px;
 padding: 10px 20px;
}

.dest-container h1{
    color: var(--color-secondary);
    font-weight: lighter;
    letter-spacing: 1px;
}

.right-container{
    margin-top: 80px;
}
.dest-navlinks{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.dest-navlinks li{
    list-style: none;
    text-decoration: none;
}