.homepage{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}
.header{
    text-transform: uppercase;
    color: var(--color-secondary);
    font-size: 30px;
    letter-spacing: 2.5px;
    margin-bottom: 20px;
}

.home-left{
    padding: 10px 20px;
    margin: 10px;
}
.home-left h1{
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-bottom: 20px;
    font-size: 100px;
    font-weight: lighter;
}

.home-left p{
    font-size: 16px;
    letter-spacing: 2px;
    color: var(--color-secondary);
    line-height: 2.5;
}

.circle{
    letter-spacing: 2px;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
    background-color: var(--color-white);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.circle-text{
    font-weight: lighter;
    margin: 0;
    text-decoration: none;
    color: var(--color-primary);
}

.circle:hover{
    background-color: var(--color-white);
    color: var(--color-primary);
    animation: expand 0.3s forwards;
    cursor: pointer;
}

/* Keyframes animation expanding */
@keyframes expand{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}