*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-primary: #0b0d17;
    --color-secondary: #d0d6f9;
    --color-white: #ffffff;
}

body{
    font-family: "Barlow Condensed", sans-serif;
    background-image: url(./assets/home/background-home-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}